[Desktop Entry]
Encoding=UTF-8
Name=Link to Review: New Cheez-It Zesty Cheddar Ranch Grooves & I ...
Type=Link
URL=http://www.junkfoodguy.com/wp-content/uploads/2014/01/groovesZCR-05.png
Icon=image-png
Name[en_US]=cheezit.png
